body {
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
}
.title {
  font-family: fantasy;
  font-weight: 100;
  max-width: 500px;
  margin: 5px;
}
#convert {
  padding: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#convert:hover {
  background-color: #6eacef;
}
#enter_amount, #converted {
  padding: 3px;
}
#option1, #option2 {
  padding: 3px;
}
#chart {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
}
